.menu{
    display:flex;
    background-color: #ffa500 ;
    font-size: 20px;
    

}
.menu a{
    margin:20px
}
.grid{
    display:flex;
    flex-wrap: wrap;
    margin:35px
}
.grid img{
    border: 1px;
    border-radius: 30px;
    

}

.origami{
    background-color: #000000;
    margin:100px;
    border-radius: 50px;
    justify-content: space-evenly;
}
p{
    color:#ffffff;
    text-align: center;

}
body{
    background-color: #a229a7;
}
a:link{
    color:#20b39f
}
a:visited{
    color:#dc143c
}
.origami:hover{
    transform:scale(1.2)
}